<h2>Data Entry Demo Application</h2>
<form (ngSubmit)="onSubmit()" #userForm="ngForm" novalidate class="user-form">
  <div class="user-group">
    <label for="name">Name:</label>
    <input type="text" id="name" required [(ngModel)]="name" name="name" #nameField="ngModel" />
    <div *ngIf="nameField.invalid && nameField.touched">
      <small *ngIf="nameField.errors?.['required']" class="error">Name is required.</small>
    </div>
  </div><br>
  <div class="user-group">
    <label for="age">Age:</label>
    <input type="number" id="age" [(ngModel)]="age" name="age" />
  </div><br>
  <div class="user-group">
    <label for="title">Title:</label>
    <input type="text" id="title" required [(ngModel)]="title" name="title" #titleField="ngModel" />
    <div *ngIf="titleField.invalid && titleField.touched">
      <small *ngIf="titleField.errors?.['required']" class="error">Title is required.</small>
    </div>
  </div><br>
  <div class="user-group">
    <label for="hometown">Hometown:</label>
    <input type="text" id="hometown" [(ngModel)]="hometown" name="hometown" />
  </div><br>
  <button type="submit" [disabled]="userForm.invalid" class="submit-btn">Submit</button>
</form>
